:global {
  .login-page {
    position: relative;
    background: rgb(17, 17, 145);
    width: 100%;
    height: 100%;
  }
  .login-form {
    position: absolute;
    top: 25%;
    right: 15%;
    width: 380px;
    background: #fff;
    border-radius: 3px;
  }
  .login-form-forgot {
    float: right;
    padding-right: 20px;
  }
  .remember {
    padding-left: 20px;
  }
  .login-form-button {
    width: 90%;
    margin-left: 5%;
    height: 40px;
    background: linear-gradient(-90deg, #4e75ff, #0139fd) !important;
    margin-top: 15px;
  }
  .login-input {
    margin-top: 30px;
    display: block;
    width: 90%;
    height: 38px;
    line-height: 38px;
    margin-left: 5%;
  }
  .login-input-two {
    display: block;
    width: 90%;
    height: 38px;
    line-height: 38px;
    margin-left: 5%;
  }
}
